*{
	margin: 0px;
	padding: 0px;

}

body{
	background:url(../img/background.jpg);
	background-size: cover;
	font-family: 'Roboto', sans-serif;

}
.container{
    width: 600px;
    height: 400px;
    margin: 10% auto;
    border: 2px solid #999;
    background-color: #ff0000b5;
    border-color: transparent;
   
}
.foget_password{
    padding: 10px;

}


.foget_password h2{
	text-align: center;
    margin: 10px 0px;
    color: #fff;
    margin-bottom: 60px;
}

.input input{
	width: 90%;
	margin: 10px;
	padding: 8px;
	border-radius: 5px;
}

.input label{
	font-size: 18px;
	color: #fff;
	padding-left: 10px;
}

.submit_btn input{
	width: 20%;
    display: block;
    margin: 0px auto;
    height: 40px;
    background-color: aqua;
    font-size: 18px;
}